$serif      : 'Playfair Display', serif;
$sans-serif : 'Open Sans', sans-serif;

$dark       : #2A2A2A;
$grey--dark : #4A4A4A;
$grey       : #85939D;
$grey--light: #E3E2DF;
$white      : #FFFFFF;

$blue       : #00B0FF;

$medium     : 40em;
$large      : 64em;