
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 180px;
    font-weight: 600;
    text-align: center; 
    
}	

.subheader {
	font-family: 'Hind', sans-serif;
    font-size: 22px;
    text-align: center; 

}


.yoshino-logo {
     text-align: center;
     margin-top: 30px;

}

.details {
	font-family: 'Hind', sans-serif;
    font-size: 20px;
    text-align: center; 
     margin-top: 40px;

}

h2
{
    font-family: 'Poppins', sans-serif;
    font-size: 90px;
    font-weight: 600;
    text-align: center; 
    
}	

.the-works {
	font-family: 'Hind', sans-serif;
    font-size: 22px;
    text-align: center; 

}

.card {
    font-family: 'Hind', sans-serif;
    font-size: 22px;
    color: #ffffff;
    text-align: center; 
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 500px;
    width: 1200px;
    max-width: 1200px;
    padding: 20px 20px;
    background-color: #000000;
    }

/*B&W*/
.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw:hover {
  -webkit-filter: grayscale(100%);
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: white;
    font-weight: 600;
    text-align: center; 
    margin-top:150px;
}

.boxed {
  border: 1px solid white ;
}
