
.sf-ver5 {
	background-color: #27282c;
	color: #FFFFFF;
	h1, h2, h6, p, h3 {
		color: $white;
	}
	.emoji {
		height: 25px;
		width: 25px;
		margin-right: 10px;
		margin-bottom: 5px;
	}
	.headline {
		margin-left: 5%;
		padding-top: 25vh;
		padding-bottom: 20vh;
		.button {
			margin-top: 30px;
		}
	}
	.column {
            background-repeat: no-repeat;
            background-size: cover;
        }
    .testimonial-grid {
        background: #191919;
        color: #FFFFFF;
        margin-top: 110px;
        margin-bottom: 110px;
    }
    blockquote {
        color: #FFFFFF;
        margin: 0;
        padding: 60px 35px;
        border-left: none;
        font-size: 16px;
        line-height: 22px;
        position: relative;
    }
    blockquote strong {
        display: block;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: -0.5px;
        line-height: 30px;
        margin: 10px 0;
    }
    blockquote cite {
        margin-top: 25px;
        font-size: 13px;
        line-height: 13px;
        color: #9B9B9B;
    }
    blockquote cite::before {
        content: "";
    }

    @media (max-width: $medium) {
    	.headline {
    		padding-top: 15vh;
    		h1 {
    			font-size: 35px;
    		}
    	}
    }

    @media (min-width: $large) {
        blockquote {
            padding-top: 0;
            padding-bottom: 0;
        }
        .testimonial-grid .photo {
            height: 360px;
        }
    }

    .testimonials {
        position: relative;
    }

    .guest-background--large {
        position: absolute;
        z-index: -1;
        right: 0;
        top: 50%;
        width: 60%;
        margin-top: -30%;

    }

    .row.x-large {
        max-width: 1380px;
    }
}



// ----------------------------------------------------------

.sf-page-ver4 {
	// background-color: #27282c;
	// color: $white;
	// & h1, h2, h6, p, h3 {
	// 	color: $white;
	// }
	// & h1 {
	// 	font-size: 3.3em;
	// 	padding-bottom: 10px;
	// }
	// & h2 {
	// 	font-size: 1.8em;
	// }
	& .row, footer {
		margin-left: 13%;
		&.headline {
			margin-left: 5%;
			padding-top: 25vh;
			padding-bottom: 20vh;
			& .button {
				margin-top: 3px;
			}
		}
	}
	.information{
		margin-bottom: 50px;
	}
	.question h1 {
		padding-bottom: 60px;
	}
	.emoji {
		height: 1em;
		width: 1em;
		margin-right: 10px;
	}
	img.testimony {
		margin: 15%;
		width: 60%;
		height: auto;
	}
	.testimony-content {
		width: 360px;
		height: 360px;
	}
	.testimony-box {
		// padding-right: 35px;
		// width: 305px;
		// height: 360px;
		background-color: #191919;
		display: block;
		float: left;
		& h3 {
			margin-top: 50px;
			margin-left: 20px;
			font-family: $sans-serif;
			font-weight: bold;
			letter-spacing: -0.5px;
		}
		& p {
			margin-left: 20px;
		}
		& i {
			font-size: 13px;
			color: #9b9b9b;
		}
	}
	.testimony-box-2 {
			background-image: url(../img/bwshot1.png);
			background-position: center center;
			background-size: cover;
	}
	.testimony-box-3 {
			background-image: url(../img/bwshot2.png);
			background-position: center center;
			background-size: cover;
	}
	.testimony-box-4 {
		// padding-right: 35px;
		// width: 305px;
		// height: 360px;
		background-color: #191919;
		display: block;
		float: left;
		& h3 {
			margin-left: 20px;
			font-family: $sans-serif;
			font-weight: bold;
			letter-spacing: -0.5px;
		}
		& p {
			margin-top: 50px;
			margin-left: 20px;
		}
		& i {
			font-size: 13px;
			color: #9b9b9b;
		}
	}
	.final-sales{
		width: 1380px;
  		height: 651px;
  		background-color: #191919;
  		margin-left: 7%;
  		padding-top: 60px;
	}
	.grey {
		color: #9b9b9b;
	}
}

		// background-image: url(../img/san-francisco-1.jpg);
		// background-position: center center;
		// background-size: cover;