.headline {
	padding-top: 25vh;
	padding-bottom: 36vh;
	background-color: $grey--dark;
	margin: 0;
	background-image: url(../img/san-francisco-1.jpg);
	background-position: center center;
	background-size: cover;
	& .row {
		margin-left: 5%;
		& h1 {
			color: $white;
			font-size: 2.3em;
			font-family: $sans-serif;
			letter-spacing: -1px;
			font-weight: $fw--ss--bold;
			padding-bottom: 5px;
		}
		& h6 {
			color: $white;
			padding-bottom: 26px;
		}
	}
}

.information {
	& .row {
		margin-left: 5%;
		margin-bottom: 5em;
		& .question {
		font-size: 40px;
		margin-bottom: 15px;
		font-weight: $fw--ss--bold;
		}
		& p, li {
			margin-left: 60px;
			margin-bottom: 0px;
		}
	}
	& .emoji.small {
		height: 16px;
		width: 16px;
		margin-right: 5px;
	}
}