$core: 300px;
$extended: 600px;
$rotation: 120s;

.team {
    margin: 45px 0;
    .button {
        color: $pink;
        background-color: transparent;
        background-image: none;
    }
    .button.active {
        color: $white;
        background-color: $pink;
        background-image: $gradient--primary;
    }
}

.space {
    position: relative;
    height: $extended + 160px;
    .barycenter {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        margin: -20px 0 0 -20px;
    }
    .orbit {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        padding: 0;
        list-style: none;
        animation: rotate $rotation linear 0s infinite normal none;
        border: 1px solid $grey--light;
        border-radius: 50%;
    }
    .counterorbit {
        animation: counter $rotation linear 0s infinite normal none;
    }
    .core {
        width: $core;
        height: $core;
        margin-top: -$core/2;
        margin-left: -$core/2;
    }
    .extended {
        width: $extended;
        height: $extended;
        margin-top: -$extended/2;
        margin-left: -$extended/2;
    }
    .satellite {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -40px 0 0 -40px;
        img {
            display: block;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 2px solid rgba($white, 0.5);
            box-shadow: 0 3px 8px rgba($grey, 0.25);
        }
        span {
            display: block;
            text-align: center;
            font-size: 11px;
            margin-top: 5px;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes counter {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
