$serif                   : 'Playfair Display', serif;
$sans-serif              : 'Open Sans', sans-serif;

$fw--ss--regular         : 400;
$fw--ss--bold            : 700;

$dark                    : #2A2A2A;
$grey--dark              : #4A4A4A;
$grey                    : #85939D;
$grey--light             : #E3E2DF;
$white                   : #FFFFFF;

$blue                    : #00B0FF;
$pink                    : #EE0979;
$orange                  : #FF6A00;


$medium                  : 40em;
$large                   : 64em;

$gradient--primary       : linear-gradient(256deg, $pink, $orange);
